.pagination {
  display: flex;
  justify-content: center;
}

.button {
  width: 24px;
  height: 24px;
  border: 1px solid #fe5f1e;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.list {
  @extend .pagination;
  margin: 0 10px;
}

.listItem {
  width: 24px;
  height: 24px;
  border: 1px solid #fe5f1e;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;

  &Active{
    background-color: #fe5f1e;
  }

  &:hover {
    @extend .listItemActive;
    transition: 0.5s ease-in-out ;
  }

  &:last-child {
    margin-right: 0;
  }
}