@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: $white-200;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: darken($white-200, 2%);
      }

      &:active {
        background-color: darken($white-200, 5%);
      }

      &.active {
        background-color: $black-400;
        color: $white-100;
      }
    }
  }
}
