@import '../variables';

.header {
  border-bottom: 1px solid $gray-200;
  padding: 40px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: $black-100;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: $gray-500;
    }
  }

  &__profile {
    display: block;
    text-align: center;
    cursor: pointer;
  }
}
