//Colors
$black-100: #181818;
$black-300: #232323;
$black-400: #282828;

$yellow-200: #ffdf8c;

$orange-400: #fe5f1e;

$gray-100: #f2f2f2;
$gray-200: #f6f6f6;
$gray-300: #b6b6b6;
$gray-400: #8d8d8d;
$gray-500: #7b7b7b;
$gray-600: #787878;
$gray-700: #777777;

$white-100: #ffffff;
$white-200: #f9f9f9;
$white-300: #f3f3f3;

$red-200: #ff0000;

//Container
$container-width: 90%;

//Duration
$duration: 0.15s;
